@import "../../global.scss";

.admin-container {
  min-height: vh(100);
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  background-color: $textBgColor;
}

.outer-div {
  padding-bottom: 100px;
}

.admin-sets {
  h1 {
    font-weight: bold;
    font-size: $huge;
  }
}
.sets h1 {
  font-weight: lighter;
  font-size: $large;
}
