@import "../../global.scss";
.upload-music {
  height: vh(100);
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  background-color: $textBgColor;
  padding-left: 1rem;
  h1 {
    font-size: $huge;
    padding-top: 1rem;
  }
  h2 {
    font-size: $large;
    margin: 0;
    padding: 1rem;
  }
  input {
    width: 13rem;
  }
  p {
    font-size: $small;
    color: red;
  }
  .improvisation-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    .improvisation-option {
      margin: 1rem;
      display: flex;
      flex-direction: row;
      label {
        flex-shrink: 1;
      }
      input {
        margin: 0 1rem;
        width: 1rem;
        height: 1rem;
        flex-shrink: 1;
      }
    }
  }
  .text-fields {
    display: flex;
    flex-direction: column;
    .text-field {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      label {
        flex-shrink: 1;
        flex-grow: 1;
      }
      input {
        max-width: 60%;
        flex-shrink: 1;
        flex-grow: 1;
      }
    }
  }
}
