@import "../../global.scss";
.upload-music {
  height: vh(100);
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  background-color: $textBgColor;
  h1 {
    font-size: $huge;
    padding-top: 1rem;
  }
  h2 {
    font-size: $large;
    margin: 0;
    padding: 1rem;
  }
  .field-container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    .fc-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
    .fc-err {
      margin: 0;
      font-size: $tiny;
      color: red;
    }
  }

  .yes-no-option {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    label {
      margin: 0 0.5rem;
    }
    input {
      width: 1rem;
      height: 1rem;
      flex-shrink: 1;
    }
  }
}
