@import "../../global.scss";
.arrow-button {
  color: $textHovColor;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 5rem;
  width: 5rem;
  .arrow {
    width: 3rem;
    height: 3rem;
  }
}
.arrow-button:hover {
  text-decoration: underline;
}
