@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap");

//Defining Colors
$mainBgColor: #eadbec;
$textBgColor: #2f4858;
$textHovColor: #662485;
$small: 11px;
$medium: 15px;
$large: 18px;
$huge: 24px;

//Function for getting the propper height for mobile
@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
}

html,
body,
#root {
  font-family: Lato;
  margin: 0;
  padding: 0;
}

//The bounding box for the app
.global-container {
  background-color: $mainBgColor;
  background-image: url("../images/bg-arc.jpg");
  background-size: cover;
  height: vh(100);
  width: 100%;
}

@media (min-width: 960px) {
  .global-container {
    width: 50vw;
    margin: 0 auto;
    background-size: cover;
  }
}
