.dnd {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  .item {
    border: 4px solid black;
  
    /* center align text */
    display: flex;
    justify-content: center;
    align-items: center;
  }

