@import "../global.scss";
.fixedUI {
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  width: 50%;
  height: 5vh;
  color: white;
  background-color: $textBgColor;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circle {
  background-size: cover;
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
}

.circle-filled {
  background-image: url("../../vectors/circleFilled.svg");
}
.circle-empty {
  background-image: url("../../vectors/circleEmpty.svg");
}
