@import "../global.scss";
.fixed-UI {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 5%;
  color: white;
  background-color: $textBgColor;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circle {
  background-size: cover;
  margin-right: 1rem;
  width: 0.5rem;
  height: 0.5rem;
}
