@import "../global.scss";
.question-fr {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;

  textarea {
    width: 100%;
  }

  .error {
    color: $textHovColor;
    text-align: left;
    font-size: $small;
    font-weight: bold;
  }
}
