h1 {
  -webkit-user-select: none;
  color: white;
  background-color: #2f4858;
  padding: 1rem;
}

h2 {
  -webkit-user-select: none;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  background-color: #2f4858;
  font-size: 2rem;
}

input {
  transform: scale(4);
}

h2:hover {
  cursor: pointer;
  background-color: darkslateblue;
}
