@import "../global.scss";
.set {
  background-color: $mainBgColor;
  background-image: url("../../images/bg-arc.jpg");
  background-size: auto 100%;
  height: vh(100);
  width: 100%;
}

.set_questions {
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.set_questions::-webkit-scrollbar {
  display: none;
}
