html,
body {
  scroll-snap-type: y mandatory;
  padding: auto;
  margin: auto;
}

.set {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.set_questions {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.set_questions::-webkit-scrollbar {
  display: none;
}

.set_questions {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
