@import "../global.scss";

.set-questions {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.set-questions::-webkit-scrollbar {
  display: none;
}
